<?xml version='1.0' encoding='UTF-8'?>
<hudson>
  <disabledAdministrativeMonitors/>
  <version>1.656</version>
  <numExecutors>3</numExecutors>
  <mode>NORMAL</mode>
  <useSecurity>true</useSecurity>
  <authorizationStrategy class="hudson.security.GlobalMatrixAuthorizationStrategy">
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create:clee1</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create:nichtsnutz</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create:petfrank</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create:radiomix</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Delete:clee1</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Delete:nichtsnutz</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Delete:petfrank</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Delete:radiomix</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:clee1</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:nichtsnutz</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:petfrank</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:radiomix</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update:clee1</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update:nichtsnutz</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update:petfrank</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update:radiomix</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:clee1</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:nichtsnutz</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:petfrank</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:radiomix</permission>
    <permission>hudson.model.Computer.Build:clee1</permission>
    <permission>hudson.model.Computer.Build:nichtsnutz</permission>
    <permission>hudson.model.Computer.Build:petfrank</permission>
    <permission>hudson.model.Computer.Build:radiomix</permission>
    <permission>hudson.model.Computer.Configure:clee1</permission>
    <permission>hudson.model.Computer.Configure:nichtsnutz</permission>
    <permission>hudson.model.Computer.Configure:petfrank</permission>
    <permission>hudson.model.Computer.Configure:radiomix</permission>
    <permission>hudson.model.Computer.Connect:clee1</permission>
    <permission>hudson.model.Computer.Connect:nichtsnutz</permission>
    <permission>hudson.model.Computer.Connect:petfrank</permission>
    <permission>hudson.model.Computer.Connect:radiomix</permission>
    <permission>hudson.model.Computer.Create:clee1</permission>
    <permission>hudson.model.Computer.Create:nichtsnutz</permission>
    <permission>hudson.model.Computer.Create:petfrank</permission>
    <permission>hudson.model.Computer.Create:radiomix</permission>
    <permission>hudson.model.Computer.Delete:clee1</permission>
    <permission>hudson.model.Computer.Delete:nichtsnutz</permission>
    <permission>hudson.model.Computer.Delete:petfrank</permission>
    <permission>hudson.model.Computer.Delete:radiomix</permission>
    <permission>hudson.model.Computer.Disconnect:clee1</permission>
    <permission>hudson.model.Computer.Disconnect:nichtsnutz</permission>
    <permission>hudson.model.Computer.Disconnect:petfrank</permission>
    <permission>hudson.model.Computer.Disconnect:radiomix</permission>
    <permission>hudson.model.Hudson.Administer:clee1</permission>
    <permission>hudson.model.Hudson.Administer:nichtsnutz</permission>
    <permission>hudson.model.Hudson.Administer:petfrank</permission>
    <permission>hudson.model.Hudson.Administer:radiomix</permission>
    <permission>hudson.model.Hudson.ConfigureUpdateCenter:clee1</permission>
    <permission>hudson.model.Hudson.ConfigureUpdateCenter:nichtsnutz</permission>
    <permission>hudson.model.Hudson.ConfigureUpdateCenter:petfrank</permission>
    <permission>hudson.model.Hudson.ConfigureUpdateCenter:radiomix</permission>
    <permission>hudson.model.Hudson.Read:clee1</permission>
    <permission>hudson.model.Hudson.Read:nichtsnutz</permission>
    <permission>hudson.model.Hudson.Read:petfrank</permission>
    <permission>hudson.model.Hudson.Read:radiomix</permission>
    <permission>hudson.model.Hudson.RunScripts:clee1</permission>
    <permission>hudson.model.Hudson.RunScripts:nichtsnutz</permission>
    <permission>hudson.model.Hudson.RunScripts:petfrank</permission>
    <permission>hudson.model.Hudson.RunScripts:radiomix</permission>
    <permission>hudson.model.Hudson.UploadPlugins:clee1</permission>
    <permission>hudson.model.Hudson.UploadPlugins:nichtsnutz</permission>
    <permission>hudson.model.Hudson.UploadPlugins:petfrank</permission>
    <permission>hudson.model.Hudson.UploadPlugins:radiomix</permission>
    <permission>hudson.model.Item.Build:clee1</permission>
    <permission>hudson.model.Item.Build:nichtsnutz</permission>
    <permission>hudson.model.Item.Build:petfrank</permission>
    <permission>hudson.model.Item.Build:radiomix</permission>
    <permission>hudson.model.Item.Cancel:clee1</permission>
    <permission>hudson.model.Item.Cancel:nichtsnutz</permission>
    <permission>hudson.model.Item.Cancel:petfrank</permission>
    <permission>hudson.model.Item.Cancel:radiomix</permission>
    <permission>hudson.model.Item.Configure:clee1</permission>
    <permission>hudson.model.Item.Configure:nichtsnutz</permission>
    <permission>hudson.model.Item.Configure:petfrank</permission>
    <permission>hudson.model.Item.Configure:radiomix</permission>
    <permission>hudson.model.Item.Create:clee1</permission>
    <permission>hudson.model.Item.Create:nichtsnutz</permission>
    <permission>hudson.model.Item.Create:petfrank</permission>
    <permission>hudson.model.Item.Create:radiomix</permission>
    <permission>hudson.model.Item.Delete:clee1</permission>
    <permission>hudson.model.Item.Delete:nichtsnutz</permission>
    <permission>hudson.model.Item.Delete:petfrank</permission>
    <permission>hudson.model.Item.Delete:radiomix</permission>
    <permission>hudson.model.Item.Discover:clee1</permission>
    <permission>hudson.model.Item.Discover:nichtsnutz</permission>
    <permission>hudson.model.Item.Discover:petfrank</permission>
    <permission>hudson.model.Item.Discover:radiomix</permission>
    <permission>hudson.model.Item.Read:clee1</permission>
    <permission>hudson.model.Item.Read:nichtsnutz</permission>
    <permission>hudson.model.Item.Read:petfrank</permission>
    <permission>hudson.model.Item.Read:radiomix</permission>
    <permission>hudson.model.Item.Workspace:clee1</permission>
    <permission>hudson.model.Item.Workspace:nichtsnutz</permission>
    <permission>hudson.model.Item.Workspace:petfrank</permission>
    <permission>hudson.model.Item.Workspace:radiomix</permission>
    <permission>hudson.model.Run.Delete:clee1</permission>
    <permission>hudson.model.Run.Delete:nichtsnutz</permission>
    <permission>hudson.model.Run.Delete:petfrank</permission>
    <permission>hudson.model.Run.Delete:radiomix</permission>
    <permission>hudson.model.Run.Update:clee1</permission>
    <permission>hudson.model.Run.Update:nichtsnutz</permission>
    <permission>hudson.model.Run.Update:petfrank</permission>
    <permission>hudson.model.Run.Update:radiomix</permission>
    <permission>hudson.model.View.Configure:clee1</permission>
    <permission>hudson.model.View.Configure:nichtsnutz</permission>
    <permission>hudson.model.View.Configure:petfrank</permission>
    <permission>hudson.model.View.Configure:radiomix</permission>
    <permission>hudson.model.View.Create:clee1</permission>
    <permission>hudson.model.View.Create:nichtsnutz</permission>
    <permission>hudson.model.View.Create:petfrank</permission>
    <permission>hudson.model.View.Create:radiomix</permission>
    <permission>hudson.model.View.Delete:clee1</permission>
    <permission>hudson.model.View.Delete:nichtsnutz</permission>
    <permission>hudson.model.View.Delete:petfrank</permission>
    <permission>hudson.model.View.Delete:radiomix</permission>
    <permission>hudson.model.View.Read:clee1</permission>
    <permission>hudson.model.View.Read:nichtsnutz</permission>
    <permission>hudson.model.View.Read:petfrank</permission>
    <permission>hudson.model.View.Read:radiomix</permission>
    <permission>hudson.scm.SCM.Tag:clee1</permission>
    <permission>hudson.scm.SCM.Tag:nichtsnutz</permission>
    <permission>hudson.scm.SCM.Tag:petfrank</permission>
    <permission>hudson.scm.SCM.Tag:radiomix</permission>
  </authorizationStrategy>
  <securityRealm class="org.jenkinsci.plugins.GithubSecurityRealm">
    <githubWebUri>https://github.com</githubWebUri>
    <githubApiUri>https://api.github.com</githubApiUri>
    <clientID>d6034e398d650ee4d8de</clientID>
    <clientSecret>9103de3771987067bcd05ca134eec773893e769e</clientSecret>
    <oauthScopes>read:org,user:email</oauthScopes>
  </securityRealm>
  <disableRememberMe>false</disableRememberMe>
  <projectNamingStrategy class="jenkins.model.ProjectNamingStrategy$DefaultProjectNamingStrategy"/>
  <workspaceDir>${ITEM_ROOTDIR}/workspace</workspaceDir>
  <buildsDir>${ITEM_ROOTDIR}/builds</buildsDir>
  <markupFormatter class="hudson.markup.EscapedMarkupFormatter"/>
  <jdks/>
  <viewsTabBar class="hudson.views.DefaultViewsTabBar"/>
  <myViewsTabBar class="hudson.views.DefaultMyViewsTabBar"/>
  <clouds/>
  <quietPeriod>5</quietPeriod>
  <scmCheckoutRetryCount>0</scmCheckoutRetryCount>
  <views>
    <hudson.model.AllView>
      <owner class="hudson" reference="../../.."/>
      <name>All</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
    </hudson.model.AllView>
  </views>
  <primaryView>All</primaryView>
  <slaveAgentPort>0</slaveAgentPort>
  <label></label>
  <nodeProperties/>
  <globalNodeProperties/>
</hudson>